<div class="session-info">
    <%= @game_session.title %>
    <div class="code">
        Code:
        <%= @game_session.code %>
    </div>
    <div class="users-list">
        <% @users.each do |us| %>
        <div class="user">
        <%= us.first_name %>
        </div>
        <% end %>
    </div>
</div>
<div>
<%= link_to "We're all here!", new_game_session_round_path(@game_session) %>
</div>